name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          cd ~/docker
          if [ ! -d "swadiq-schools" ]; then
            git clone https://github.com/ImaadDean/swadiq-schools.git
          fi
          cd swadiq-schools
          git pull origin main
          docker build -t swadiq-schools .
          docker stop swadiq-app || true
          docker rm swadiq-app || true
          docker run -d --name swadiq-app -p 8080:8080 swadiq-schools
