name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Deploy application
      run: |
        cd ~/docker/swadiq-schools
        git fetch origin
        git reset --hard origin/main
        docker compose down --remove-orphans
        docker compose up -d --build